/* Style de la boîte modale */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.8);
  padding-top: 100px;
}

/* Style de l'image dans la modale */
.modal-content {
  margin: auto;
  display: block;
  max-width: 100%;
  max-height: auto;
}

/* Bouton pour fermer la modale */
.close {
  position: absolute;
  top: 75px;
  right: 35px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 10px;
}

.photo-container {
  width: 48%; /* Ajustez selon vos besoins */
}

/* Media query pour les écrans mobiles */
@media screen and (max-width: 768px) {
  .flex-container {
    flex-direction: column;
  }

  .photo-container {
    width: 100%;
    margin-bottom: 10px;
  }
}

.confusion-box {
  background-color: #FFDDDD;
  padding: 10px;
  border-radius: 10px;
  width: 48%; /* Ajustez la taille selon vos besoins */
}

.condition-box {
  background-color: #DDEEFF;
  padding: 10px;
  border-radius: 10px;
  width: 48%;
}

.dd{
  background-color: #d3d4d4;
  color: black;
  font-weight: bold;
}

.lc{
  background-color: #74b94c;
  color: black;
  font-weight: bold;
}

.nt{
  background-color: #fbf2cb;
  color: black;
  font-weight: bold;
}

.vu{
  background-color: #ffed00;
  color: black;
  font-weight: bold;
}

.en{
  background-color: #fcbd00;
  color: black;
  font-weight: bold;
}

.cr{
  background-color: #d3050c;
  color: black;
  font-weight: bold;
}

.column-left {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.column-right {
  width: 40%;
}

.graph-top, .graph-bottom {
  width: 100%;
}

.graph-top img, .graph-bottom img, .column-right img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
