/* Style de la boîte modale */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: auto;
  height: 900px;
  overflow: auto;
  background-color: rgba(0,0,0,0.8);
  padding-top: 60px; /* Ajoute un espace de 60px en haut pour compenser le bandeau */
}

/* Style de l'image dans la modale */
.modal-content {
  margin: auto;
  display: block;
  max-width: 80%;
  max-height: 80%;
}

/* Bouton pour fermer la modale */
.close {
  position: absolute;
  top: 75px;
  right: 35px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.confusion-box {
  background-color: #FFDDDD;
  padding: 10px;
  border-radius: 10px;
  width: 48%; /* Ajustez la taille selon vos besoins */
}

.condition-box {
  background-color: #DDEEFF;
  padding: 10px;
  border-radius: 10px;
  width: 48%;
}

.dd{
  background-color: #d3d4d4;
  color: black;
  font-weight: bold;
}

.lc{
  background-color: #74b94c;
  color: black;
  font-weight: bold;
}

.nt{
  background-color: #fbf2cb;
  color: black;
  font-weight: bold;
}

.vu{
  background-color: #ffed00;
  color: black;
  font-weight: bold;
}

.en{
  background-color: #fcbd00;
  color: black;
  font-weight: bold;
}

.cr{
  background-color: #d3050c;
  color: black;
  font-weight: bold;
}
